<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dashboard</title>
</head>
<body>
    <h1>Welcome, {{ username }}!</h1>
    
    <h2>Login History:</h2>
    <ul>
        {% for entry in login_history %}
            <li>
                <strong>{{ entry[6] }}</strong> {# Assuming the 7th element is login_time #}
                <br>
                <strong>IP Address:</strong> {{ entry[5] }}
                <br>
                <strong>Browser:</strong> {{ entry[4] }}
                <br>
                <strong>OS:</strong> {{ entry[3] }}
                <br>
                <strong>Device:</strong> {{ entry[2] }}
                <br>
                <strong>Is Mobile:</strong> {{ entry[7] }}
            </li>
            <br>
        {% endfor %}
    </ul>
</body>
</html>